@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }

  .us > .container {
    max-width: 1200px;
  }

  .main-page-cnt {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-paige-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 48px;
  }

  .header-list {
    display: flex;
    align-items: center;
    margin-left: 76px;
  }

  .header-auth-list {
    display: flex;
  }

  .menu-open-btn {
    display: none;
  }

  .header-auth-list {
    display: flex;
    gap: 40px;
  }

  .icon-pec-list {
    display: flex;
    justify-content: center;
  }
  .icon-pec-item {
    width: 264px;
    height: 112px;
  }

  .icon-pec-wrap {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
  }

  .about {
    display: flex;
    padding-bottom: 120px;
  }

  .title-about {
    margin-top: 0;
    margin-bottom: 72px;
  }

  .about-list {
    display: flex;
    justify-content: center;
  }

  .about-item {
    margin-left: 24px;
  }

  .about-list .about-item:first-child {
    margin-left: 0;
  }

  .peculiarities-item {
    margin-left: 24px;
  }

  .icon-pec-list {
    display: flex;
    justify-content: center;
  }

  .icon-pec-wrap {
    display: flex;
  }

  .us-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .us-item {
    width: calc((100% - 60px) / 4);
  }
  .customers-item {
    width: calc((100% - 150px) / 6);
    height: 88px;
  }

  .portfolio-filter-list {
    justify-content: center;
    padding-bottom: 0;
  }

  .portfolio-item-btn {
    margin-bottom: 72px;
  }

  .boxes-element {
    width: calc((100% - 90px) / 3);
  }

  .boxes-list {
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
  }

  .box-sec {
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
  }
}

.footer-list {
  justify-content: space-around;
}

.footer-item-desc {
  margin-right: 40px;
}

.footer-field {
  display: block;
}
