@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }

  .us > .container {
    max-width: 1200px;
  }

  .us-item {
    width: calc((100%-60px) / 4);
  }
  .customers-item {
    width: calc((100% - 150px) / 6);
    height: 88px;
  }

  .boxes-element {
    width: calc((100% - 90px) / 3);
  }

  .boxes-list {
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
  }

  .box-sec {
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
  }
}
