@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .us > .container {
    max-width: 582px;
  }

  .header-list {
    display: flex;
    align-items: center;
    margin-left: 76px;
  }

  .header-auth-list {
    display: inline-block;
  }

  .main-paige-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 36px;
  }

  .menu-open-btn {
    display: none;
  }

  .peculiarities-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .pec-it {
    text-align: left;
  }

  .us-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .us-item {
    width: calc((100% - 60px) / 2);
  }
  .customers-item {
    width: calc((100% - 74px) / 3);
    height: 88px;
  }

  .portfolio-filter-list {
    justify-content: center;
    padding-bottom: 0;
  }

  .portfolio-item-btn {
    margin-bottom: 72px;
  }

  .boxes-element {
    width: calc((100% - 54px) / 2);
  }

  .boxes-list {
    justify-content: left;
    column-gap: 24px;
    row-gap: 72px;
  }

  .box-sec {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .footer-form {
    display: inline-block;
    justify-content: start;
  }
  
  .footer-list {
    justify-content: start;
  }
  
  .footer-input-text {
    display: block;
    margin-bottom: 12px;
  }
    .footer-field {
    display: block;
  }
}
