@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }

  .us > .container {
    max-width: 1200px;
  }

  .header-list {
    display: flex;
    align-items: center;
    margin-left: 76px;
  }

  .header-list .header-item {
    margin-right: 40px;
  }

  .header-list .header-item:last-child {
    margin-right: 0;
  }

  .header-item {
    position: relative;
    display: inline-block;

    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }

  .header-sel-page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background: var(--main-title-color);
    border-radius: 2px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-sel-page:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background: #404bbf;
    border-radius: 2px;
  }

  .header-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-auth-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-style: normal;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-auth-link:hover,
  .header-auth-link:focus {
    color: var(--accent-color);
  }

  .header-item-link:hover,
  .header-item-link:focus {
    color: var(--accent-color);
  }

  .header-auth-list {
    display: flex;
  }

  .header-auth-list .header-auth-item + .header-auth-item {
    margin-left: 40px;
  }

  .header-address {
    margin-left: auto;
  }

  .main-page-cnt {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-paige-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 48px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-cnt {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-bg-2x.jpg);
    }
  }

  .peculiarities {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .icon-pec-list {
    display: flex;
    justify-content: center;
  }

  .icon-pec-item {
    width: 264px;
    height: 112px;
  }

  .icon-pec-wrap {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
  }

  .about {
    display: flex;
    padding-bottom: 120px;
  }

  .title-about {
    margin-top: 0;
    margin-bottom: 72px;
  }

  .about-list {
    display: flex;
    justify-content: center;
  }

  .about-item {
    margin-left: 24px;
  }

  .about-list .about-item:first-child {
    margin-left: 0;
  }

  .peculiarities-item {
    margin-left: 24px;
  }

  .pec-it {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .pec-iat {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .icon-pec-list {
    display: flex;
    justify-content: center;
  }

  .icon-pec-wrap {
    display: flex;
  }

  .us {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .us-list {
    flex-wrap: nowrap;
  }
  .us-item {
    gap: 24px;
    width: calc((100% - 60px) / 4);
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-item {
    width: calc((100% - 150px) / 6);
    max-width: 190px;
    height: 88px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .portfolio-filter-list {
    justify-content: center;
    padding-bottom: 0;
  }

  .portfolio-item-btn {
    margin-bottom: 72px;
  }

  .boxes-element {
    width: calc((100% - 90px) / 3);
  }

  .boxes-list {
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
  }

  .box-sec {
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
  }

  .footer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
  }

  .footer-item-desc {
    margin-right: 0;
    justify-content: center;
  }

  .footer-item-submit {
    margin-left: auto;
  }

  .footer-item-title {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-soc-item {
    width: 40px;
    height: 40px;
    fill: #fff;
  }

  .footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-soc-link:is(:hover, :focus) {
    background-color: #31d0aa;
  }

  .footer-field {
    display: inline-block;
    justify-content: center;
  }

  .footer-input-text {
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;

    color: #ffffff;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-input {
    height: 40px;
    width: 264px;

    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;

    color: #fff;
  }

  .footer-input::placeholder {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: var(--typical-lh);
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.6);
  }
}
