@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }

  .us > .container {
    max-width: 1200px;
  }

  .header-list {
    display: flex;
    align-items: center;
    margin-left: 76px;
  }

  .header-list .header-item {
    margin-right: 40px;
  }

  .header-list .header-item:last-child {
    margin-right: 0;
  }

  .header-item {
    position: relative;
    display: inline-block;

    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }

  .header-sel-page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background: var(--main-title-color);
    border-radius: 2px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-sel-page:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background: #404bbf;
    border-radius: 2px;
  }

  .header-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-auth-link {
    font-style: normal;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-auth-link:hover,
  .header-auth-link:focus {
    color: var(--accent-color);
  }

  .header-item-link:hover,
  .header-item-link:focus {
    color: var(--accent-color);
  }

  .header-auth-list {
    display: flex;
  }

  .header-auth-list .header-auth-item + .header-auth-item {
    margin-left: 40px;
  }

  .header-address {
    margin-left: auto;
  }

  .main-page-cnt {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-paige-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 48px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-cnt {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-bg-2x.jpg);
    }
  }

  .icon-pec-list {
    display: flex;
    justify-content: center;
  }
  .icon-pec-item {
    width: 264px;
    height: 112px;
  }

  .icon-pec-wrap {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
  }

  .about {
    display: flex;
    padding-bottom: 120px;
  }

  .title-about {
    margin-top: 0;
    margin-bottom: 72px;
  }

  .about-list {
    display: flex;
    justify-content: center;
  }

  .about-item {
    margin-left: 24px;
  }

  .about-list .about-item:first-child {
    margin-left: 0;
  }

  .peculiarities-item {
    margin-left: 24px;
  }

  .icon-pec-list {
    display: flex;
    justify-content: center;
  }

  .icon-pec-wrap {
    display: flex;
  }

  .us-list {
    flex-wrap: nowrap;
  }
  .us-item {
    gap: 24px;
    width: calc((100% - 60px) / 4);
  }
  .customers-item {
    width: calc((100% - 150px) / 6);
    height: 88px;
  }

  .portfolio-filter-list {
    justify-content: center;
    padding-bottom: 0;
  }

  .portfolio-item-btn {
    margin-bottom: 72px;
  }

  .boxes-element {
    width: calc((100% - 90px) / 3);
  }

  .boxes-list {
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
  }

  .box-sec {
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
  }
}
