@media screen and (min-width: 768px) {
  .container {
    max-width: 1158px;
  }

  .us > .container {
    max-width: 582px;
  }

  .header-list {
    display: flex;
    align-items: center;
    margin-left: 76px;
  }

  .header-list .header-item {
    margin-right: 40px;
  }

  .header-list .header-item:last-child {
    margin-right: 0;
  }

  .header-auth-list {
  }
  .header-item {
    position: relative;
    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }

  .header-sel-page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background: var(--main-title-color);
    border-radius: 2px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-sel-page:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background: #404bbf;
    border-radius: 2px;
  }

  .header-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-auth-link {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-auth-link:hover,
  .header-auth-link:focus {
    color: var(--accent-color);
  }

  .header-item-link:hover,
  .header-item-link:focus {
    color: var(--accent-color);
  }

  .header-auth-list {
    display: flex;
  }

  .header-auth-list .header-auth-item + .header-auth-item {
    margin-left: 40px;
  }

  .menu-open-btn {
    display: none;
  }

  .main-paige-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 36px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-page-cnt {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg-2x.jpg);
    }
  }

  .peculiarities-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .peculiarities-item {
    width: 356px;
  }
  .pec-it {
    text-align: left;
  }

  .pec-iat {
    width: 350px;
  }

  .us-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .us-item {
    width: calc((100% - 84px) / 2);
  }
  .customers-item {
    width: calc((100% - 74px) / 3);
    max-width: 190px;
    height: 88px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .portfolio-filter-list {
    justify-content: center;
    padding-bottom: 0;
  }

  .portfolio-item-btn {
    margin-bottom: 72px;
  }

  .boxes-element {
    width: calc((100% - 54px) / 2);
  }

  .boxes-list {
    justify-content: left;
    column-gap: 24px;
    row-gap: 72px;
  }

  .box-sec {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .footer {
    justify-content: left;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 108px;
  }
  .footer-list {
    justify-content: left;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-field {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
  }

  .footer-input-text {
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;

    color: #ffffff;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-input {
    height: 40px;
    width: 264px;

    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;

    color: #fff;
  }

  .footer-input::placeholder {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: var(--typical-lh);
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-item-submit {
  margin-left: 0;
}
